<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Page</title>
    <script>
        window.addEventListener('load', function () {
            fetch_items();
        });

        function fetch_items() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{% url 'get_agents' %}", true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {
                    var response = JSON.parse(xhr.responseText);
                    var agentItemsElement = document.getElementById('agentItems');

                    if (agentItemsElement) {
                        agentItemsElement.innerHTML = response.agentItems;
                    } else {
                        console.error("Element with id 'agentItems' not found.");
                    }
                } else {
                    console.error("Error fetching items");
                }
            };
            xhr.send();
        }
        function submitSales() {
            var selectedAgent = document.getElementById("agent").value;
            document.getElementById("submit_agent").value = selectedAgent;

            console.log(document.getElementById("submit_agent"))
        }
        function soldItem() {
            var selectedItem = document.getElementById("items_list").value;
            var selectedAgent = document.getElementById("agent").value;
            var agentDropdown = document.getElementById("agent");
            document.getElementById("item").value = selectedItem;
            document.getElementById("selected_agent").value = selectedAgent;
            document.getElementById("agent").value = selectedAgent;

            agentDropdown.disabled = true;
            agentDropdown.style.color = "#777";

            var form = document.getElementById('salesItemForm');
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.getAttribute('data-url'), true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.error) {
                        alert(response.error);
                    } else {
                        document.getElementById('issuedItems').innerHTML = response.issued_items_html;
                    }
                } else {
                    console.error("Error issuing item");
                }
            };
            xhr.send(formData);
        }
    </script>

</head>

<body>
    <h1>Sales Page</h1>
    <form method="get" action="{% url 'get_agents' %}">
        <label for="agent">Select Agent:</label>
        <select name="agent" id="agent">
            {% for agent in agents %}
            <option value="{{ agent.agent_number }}">
                {{ agent.agent_last_name }},
                {{ agent.agent_first_name }}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Select Agent</button>
    </form>
    <div id="agentItems"></div>
    <p>Issued Items</p>
    <ul>
        {% for item in agent_items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <form method="post" id="salesItemForm" data-url="{% url 'input_sales' %}">
        {% csrf_token %}
        {{ form.errors }}
        <label for="items_list">Item: </label>
        <select id="items_list" name="items_list">
            {% for item in agent_items %}
            <option value="{{ item.item.item_number }}">{{ item }}</option>
            {% endfor %}
        </select>
        <input type="hidden" id="selected_agent" name="selected_agent">
        <input type="hidden" id="item" name="item">
        <label for="sold_quantity">Quantity: </label>
        <input type="number" id="sold_quantity" name="sold_quantity">
        <button type="button" onclick="soldItem()">Add Item</button>
    </form>
    <h1>Sold items list</h1>
    <div id="soldItems">
        {% if sold_items %}
        <h2>Invoice: {{ invoice }}</h2>
        <ul>
            {% for sold_item in sold_items %}
            <li>
                {{ sold_item.item.item.item_brand }} {{ issued_item.item.item.item_model }}
                Quantity: {{ sold_item.sold_quantity }}
                SRP: {{ sold_item.item.issued_SRP }}
                Discount: {{ sold_item.item.item_discount }}
                Total Sales: {{ sold_item.total_sales }}
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>No sold items to display.</p>
        {% endif %}
    </div>
    <form method="post" action="{% url 'submit_sales' %}">
        {% csrf_token %}
        <input type="hidden" id="submit_agent" name="submit_agent" value="">
        <button type="submit" onclick="submitSales()">Complete Sales</button>
    </form>


</body>

</html>