<ul>
    <p>Order number: {{ order_number }}</p>
    <p>Order Date: {{ order_date }}</p>
    <p>Order Time: {{ order_time }}</p>
    <p>Receiver: {{ order_receiver }}</p>
    <p>Supplier: {{ order_supplier }}</p>
    <p>Items</p>
    {% for ordered_item in ordered_items.all %}
    <li>{{ ordered_item.item.item_brand}} {{ ordered_item.item.item_model}} <br>
        Quantity: {{ordered_item.order_quantity}}
        <br>
        Cost: {{ordered_item.item.item_cost }}
        <br>
        Total: {{ordered_item.order_total_cost}}
    </li>
    {% endfor %}
</ul>