<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="{% url 'mark_delivered' %}">
    {% csrf_token %}
    <h2>Deliveries</h2>
    <ul>
    {% for order in orders %}
    <li>Order: {{ order }} Receiver: {{ order.receiver }} Supplier: {{ order.supplier }}
    <button name="order_number" value="{{ order.order_number }}" type="submit">Mark as Delivered</button></li>
    {% endfor %}
    </ul>
    </form>

</body>

</html>