<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    <script>
        window.addEventListener('load', function () {
            fetchOrderedItems();
        });

        function addOrderItem() {
            var selectedItem = document.getElementById("items").value;
            var selectedSupplier = document.getElementById("supplier").value;
            var supplierDropdown = document.getElementById("supplier");
            supplierDropdown.disabled = true;
            supplierDropdown.style.color = "#777";
            document.getElementById("item").value = selectedItem;
            var form = document.getElementById('orderItemForm');
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.getAttribute('data-url'), true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {
                    document.getElementById('orderedItems').innerHTML = xhr.responseText;
                }
            };

            xhr.send(formData);
            fetchOrderedItems();
        }

        function fetchOrderedItems() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{% url 'fetch_ordered_items' %}", true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {
                    document.getElementById('orderedItems').innerHTML = xhr.responseText;
                }
            };

            xhr.send();
        }
    </script>
</head>

<body>
    <h1>Order Page</h1>

    <form method="get" action="{% url 'get_items' %}">
        {% if not supplier_selected %}
        <label for="supplier">Select Supplier:</label>
        <select name="supplier" id="supplier">
            {% for supplier in suppliers %}
            <option value="{{ supplier.supplier_name }}">{{ supplier.supplier_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select Supplier</button>
        {% endif %}
    </form>

    {% if selected_supplier %}
    <h2>Items for {{ selected_supplier }}</h2>
    {% if items %}
    <dl>
        {% for item in items %}
        <dd>
            <p>{{item}}</p>
            <ul>
                <li>Quantity Available: {{item.item_qty}}</li>
                <li>Item Type: {{item.item_type}}</li>
                <li>Unit Cost: {{item.item_cost}}</li>
                <li>Unit SRP: {{item.item_SRP}}</li>
            </ul>
        </dd>
        {% endfor %}
    </dl>
    {% else %}
    <p>No items available for the selected supplier.</p>
    {% endif %}

    {% endif %}

    <form method="post" id="orderItemForm" data-url="{% url 'order_item' %}">
        {% csrf_token %}
        {{ form.errors }}

        <label for="item">Item: </label>
        <select id="items" name="items">
            {% for item in items %}
            <option value="{{ item.item_number }}">{{ item }}</option>
            {% endfor %}
        </select>
        <input type="hidden" id="item" name="item">
        <input type="hidden" id="selected_supplier" name="selected_supplier">

        <label for="order_quantity">Quantity: </label>
        <input type="number" id="order_quantity" name="order_quantity">
        <button type="button" onclick="addOrderItem()">Add Item</button>
    </form>

    <h1>Order list</h1>
    <div id="orderedItems">
    </div>
    <form method="post" action="{% url 'submit_order' %}">
        <h2>Ordered Items</h2>
        <ul>
            {% for ordered_item in order.ordered_items.all %}
            <li>{{ ordered_item.item.item_brand }} - {{ ordered_item.item.item_model }} (Quantity: {{
                ordered_item.order_quantity }})</li>
            {% endfor %}
        </ul>
        <button type="submit">Submit Order</button>
    </form>

    <form method="post" action="{% url 'logout_view' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

</body>

</html>